<section>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Collected</th>
        <td><%= current_user.collected_currencies_count %></td>
      </tr><tr>
        <th>Not Collected</th>
        <td><%= current_user.not_collected_currencies_count %></td>
      </tr>
    </table>
  </div>

  <h1>Currencies</h1>
  
  <div class="filter"><input type="text" id="filter_currency_name"></div>
  
  <table id="currencies">
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th></th>
    </tr>

  <% @currencies.each do |currency| %>
    <tr>
      <td class="name"><%= currency.name %></td>
      <td><%= currency.code %></td>
      <td><%= current_user.collected?(currency) ? 'Collected' : 'Not Collected' %></td>
      <td><%= link_to 'Show', currency %></td>
    </tr>
  <% end %>
  </table>
</section>