<section>
  <div id="visited_countries_chart" class="simple_pie_chart" width="300" height="100"></div>

  <h1>Countries</h1>
  
  <%= form_tag bulk_update_visits_path, :method => :put, :id => 'visits_form' do %>
    <div class="filter">
      <div>Name: <input type="text" id="filter_country_name"></div>
      <div><input type="submit" value="Visit"></div>
    </div>
    
    <table id="countries">
      <thead>
        <tr>
          <th><%= check_all_tag %></th>
          <th>Name</th>
          <th>Code</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @countries.each do |country| %>
          <tr>
            <td><%= check_tag country.id, current_user.visited?(country) %></td>
            <td class="name"><%= country.name %></td>
            <td><%= country.code %></td>
            <td class="status"><%= current_user.visited?(country) ? 'Visited' : 'Not Visited' %></td>
            <td><%= link_to 'Show', country %></td>
            <td><%= link_to 'Edit', edit_country_visit_path(country) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>