<!DOCTYPE html>
<html>
<head>
  <title>CurrencyTracker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'extensions', 'jquery-1.5.2.min', 'jquery.form', 'view_controller', 'simple_pie_chart', 'table_filter', 'checker', 'raphael', 'ico', 'underscore', 'line_chart', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if notice.present? %><p class="notice"><%= notice %></p><% end %>
<% if alert.present? %><p class="alert"><%= alert %></p><% end %>

<header>
  <h1>CurrencyTracker</h1>
  <nav>
    <ul>
      <li><%= link_to "Currencies", currencies_path %></li>
      <li><%= link_to "Countries", countries_path %></li>
    </ul>
  </nav>
</header>

<%= yield %>

<footer>
  CurrencyTracker &copy; Copyright 2011 by Smart Enterprises.
</footer>
</body>
</html>
